MODE:
  name: MLIC-vit_base_moco
DATA:
  dataset_dir: './data/voc2007/'
  dataname: 'voc2007'
  num_workers: 8
  num_class: 20
  classnames: [
    'aeroplane', 'bicycle', 'bird', 'boat', 'bottle',
    'bus', 'car', 'cat', 'chair',  'cow', 'diningtable',
    'dog', 'horse', 'motorbike', 'person',
    'pottedplant', 'sheep', 'sofa', 'train', 'tvmonitor']

  TRANSFORM:
    img_size: 448
    crop: False
    cutout: True
    length: 224
    cut_fact: 0.5
    orid_norm: False
    remove_norm: False
    n_holes: 1


INPUT:
  SIZE: (448, 448)
  INTERPOLATION: "bicubic"
  PIXEL_MEAN: [0.48145466, 0.4578275, 0.40821073]
  PIXEL_STD: [0.26862954, 0.26130258, 0.27577711]
  TRANSFORMS: ["random_resized_crop", "MLC_Policy", "random_flip", "normalize"]
  TRANSFORMS_TEST: ["resize", "normalize"]
  random_resized_crop_scale: (0.5, 1.0)


MODEL:
  arch: 'MLIC-vit_base_moco'
  use_BN: False
  BACKBONE:
    backbone: 'vit_base_moco'
    pretrained: True
    frozen_backbone: True

  # TRANSFORMER:
  #   nheads: 8
  #   enc_layers: 1
  #   pos: False

  CLASSIFIER:
    num_class: 80
  PROMPT:
    aux_tokens: 5
    scale_tokens: 3


LOSS:
  loss_mode: asl # asl, multi_bce
  loss_dev: -1
  ASL:
    eps: 1e-5
    dtgfl: True
    gamma_pos: 0.0
    gamma_neg: 2.0
    loss_clip: 0.0
  # ASL:
  #   eps: 1e-8
  #   dtgfl: True
  #   gamma_pos: 0.0
  #   gamma_neg: 4.0
  #   loss_clip: 0.05
  Coef:
    cls_asl_coef: 1.0
    cls_co_coef: 1.0
    cls_cl_coef: 1.0
    cls_co_moe_coef: 1.0
    cls_cl_moe_coef: 1.0

OPTIMIZER:
  optim: 'AdamW'
  lr_scheduler: 'OneCycleLR'
  pattern_parameters: 'single_lr'
  momentum: 0.9
  weight_decay: 1e-2
  max_clip_grad_norm: 0
  epoch_step: [10, 20]
  batch_size: 64
  lr: 1e-4
  lrp: 0.1
  warmup_scheduler: False
  warmup_type: 'linear'
  warmup_epoch: 0


DDP:
  world_size: 1
  rank: 0
  dist_url: 'tcp://127.0.0.1:3722'
  local_rank: 1

TRAIN:
  seed: 1
  amp: True # default is True
  amp_dtype: 'bfloat16'
  early_stop: True
  kill_stop: True
  device: 'CUDA'
  start_epoch: 0
  epochs: 40 # 80
  ema_decay: 0.9997
  ema_epoch: -1
  evaluate: False
  ratio: 2.0

INPUT_OUTPUT:
  output: ''
  resume: ''
  resume_omit: []
  print_freq: 100
  out_aps: False
  ignore_path: 'data/coco/ignore.npy'

EVAL:
  val_interval: 1
  val_epoch_start: 0


# OPTIMIZER:
#   optim: 'SGD' # SGD
#   lr_scheduler: 'MultiStepLR'
#   pattern_parameters: 'mutil_lr'
#   momentum: 0.9
#   warmup_epoch: 5
#   warmup_multiplier: 50
#   warmup_scheduler: True
#   epoch_step: [4, 8, 12, 16, 20, 24, 28]
#   # lr: 1.0
#   # base_lr: 0.1
#   # base_lr: 1.0
#   # lr:  1e-4
#   batch_size: 16
#   lr: 0.01
#   lrp: 0.1
#   weight_decay: 1e-4
